/***********************************************
Input definition
***********************************************/

 
  .page_title {
     margin-left:auto; 
     margin-right:auto;
     margin-bottom:25px;
     border-style: solid;
     border-width: 1px;
     background-color: AliceBlue;
     color:GREEN; 
     width:40%;
     text-align: center;
     font-size: 200%;
  } 
  .input_table_cells {
    border-collapse: separate;
    border-spacing: 10px;
  } 
  fieldset {
    border-collapse: separate;
    border-spacing: 10px;
  }     
  fieldset legend{  
    color: 66CCCC;
  }    
  fieldset label{  
    color: BLACK;
  } 
 #menu {
    list-style-type: none;
    list-style-position: inside;
    list-style-image: none;
    margin-left:auto; 
    margin-right:auto;
    width:90%;
    text-align: center;
    font-size: 120%;
  }    
  #menu page_title {
     margin-left:auto; 
     margin-right:auto;
     margin-bottom:130px;
     border-style: solid;
     border-width: 1px;
     background-color: AliceBlue;
     color:GREEN; 
     width:100%;
     text-align: center;
     font-size: 180%;
  }        
  #menu li { 
	 list-style-type:disc; 
	  margin-left:-100px; 
  }  
  #menu li ul li{ 
	 list-style-type:circle;
  }  
  label {
     display: table-cell;
     text-align: right;
     color: BLACK;
  }
  .label_same_row {
      color: BLACK;
  }
  .input_label {
     color: BLACK;
  }
  .input_value {
     color: 66CCFF;
  }
  .input_row{
     display:table-row;
     color: BLACK;
  } 
  .input_row form{
     display:table-row;
     color: BLUE;
  }
  .input-container {
     width: 500px;
     clear: both;
  }
  .input-container input {
     width: 100%;
     clear: both;
  }
  .table.category { 
      border-bottom: dotted 1px blue;
  }
  .table tr {
      height:20px;
      white-space:nowrap;
      text-align:left;
  }
  .td.narrow 
  { 
      width:10px;
  } 
  .button-m {
       display: block;
       width: 130px;
       height: 25px;
       background: #4E9CAF;
       padding: 10px;
       text-align: center;
       text-decoration: none;
       border-radius: 5px;
       color: white;
       font-weight: bold;
  }   
  #nav, #nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  #nav li {
    float: left;
    position: relative;
    width: 10em;
    border: 1px solid #B0C4DE;
    background-color: #E7EDF5;
    color: #2D486C;
    font-size: 80%;
    margin-right: 1em;
  }
  #nav a:link, #nav a:visited {
    display: block;
    text-decoration: none;
    padding-left: 1em;
    color: #2D486C;
  }
  html #nav a {
    width: 100%;
  }
  #nav ul {
    display: none;
    position: absolute;
    padding: 0;
  }
  #nav ul li {
     border: 0 none transparent;
     border-bottom: 1px solid #E7EDF5;
     border-top: .5em solid #FFF;
     background-color: #F1F5F9;
     font-size: 100%;
     margin-bottom: -1px;
     margin-top: 1px;
     padding: 0;
  }
  #nav li:hover ul {
     display: block; 
  }