/***********************************************
Output definition
***********************************************/

  .datatable {
     border: 1px solid #338BA6;
     border-collapse: collapse;
     float:middle;
     padding: 0;
     margin-left:auto; 
     margin-right:auto;
     margin-bottom: 20px
  }
  .datatable th {
     color: BLACK;
  }   
  .datatable td, .datatable th {
     border: 1px solid #73C0D4;
  }
  .datatable td, .datatable th {
     border: 1px solid #73C0D4;
  }
  .datatable tr.odd td {
     background-color: AliceBlue;
  }
  .datatable caption {
     color: GREEN;
     font-size: 130%;
  }
 